name: Backend CI

on:
  push:
    branches: [ "master", "main" ]
    paths:
      - 'backend/**'
  pull_request:
    branches: [ "master", "main" ]
    paths:
      - 'backend/**'

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js 18.x
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'
        cache-dependency-path: backend/package-lock.json

    - name: Install dependencies
      run: npm ci

    - name: Run Unit Tests
      run: npm test

    - name: Run Linting
      run: npm run lint
